# Tech Stack Migrations Analysis <a id='back'></a> 

* [Introduction](#intro)
* [1 Data Overview and Preprocessing](#data_over)
    * [1.1 Imports and Load Data](#load)
    * [1.2 Dataset Overview Data](#data_over)
* [2 Study User Behavior](#study)
    * [2.1 User Count](#user_stud)
    * [2.2 Calls](#calls_stud)
    * [2.3 Messages](#messages_stud)
    * [2.4 Internet](#internet_stud)
    * [2.5 Revenue](#revenue_stud)
    * [2.6  Study Conclusion](#conc_stud)
* [3 Test Statistical Hypotheses](#test_hyp)
    * [3.1 First Hypothesis](#hyp_1)
    * [3.2 Second Hypothesis](#hyp_2)
* [4 Final Conclusion](#conc_fin)

# Introduction <a id='intro'></a>

In [2]:
# importing pandas, a general data-management library
import pandas as pd

# importing numpy, a general statistics library
import numpy as np

# importing pyplot, a graph plotting library
from matplotlib import pyplot as plt 

# importing scipy, a statistical analysis library
from scipy import stats as st

In [3]:
# Load the dataset into a dataframe
migrations = pd.read_csv('migrations.csv')

# Display general information about the dataset 
migrations.info()
display(migrations.describe())
display(migrations.sample(n=5, random_state=1))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 237 entries, 0 to 236
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   company  237 non-null    object
 1   url      237 non-null    object
 2   year     237 non-null    int64
 3   from     237 non-null    object
 4   to       237 non-null    object
dtypes: int64(1), object(4)
memory usage: 9.4+ KB

              year
count   237.000000
mean   2018.345992
std       3.217819
min    2005.000000
25%    2017.000000
50%    2019.000000
75%    2021.000000
max    2023.000000

,company,url,year,from,to
201,Etsy,https://codeascraft.com/2021/11/08/etsys-journ...,2021,Javascript,Typescript
130,PayPal,https://go.dev/solutions/paypal/,2020,C++,Golang
88,Fanatics,https://www.singlestore.com/blog/how-fanatics-...,2018,ElasticSearch,SingleStore
95,2FintechGiants,https://www.youtube.com/watch?v=IG1E7O1rl-s,2019,Oracle,CockroachDB
211,WeWatch,https://jerseyfonseca.com/blogs/mongodb-to-pos...,2021,MongoDB,PostgreSQL